.block {
  width: 100%;
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  letter-spacing: 0.025em;
}

.block-img-overlay {
  color: #fff;
  height: 100%;
  padding: 15px 1rem;
  background-color: rgba(25, 25, 25, 0.62);
}
