<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">

  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="/css/bootstrap.min.css"><noscript><link rel="stylesheet" href="/css/bootstrap.min.css"></noscript>

  <!-- Custom CSS -->
  <style>
    .block {
      width: 100%;
      background-position: 50%;
      background-repeat: no-repeat;
      background-size: cover;
      letter-spacing: 0.025em;
    }

    .block-img-overlay {
      color: #fff;
      height: 100%;
      padding: 15px 1rem;
      background-color: rgba(25, 25, 25, 0.62);
    }
  </style>

  <title>{{ .Title | default .Site.Title }} {{ if not .IsHome }} - {{ .Site.Title }} {{ end }}</title>

  <meta name="description" content="{{ .Params.Meta | default .Site.Params.Description}}"/>

  {{ if and (eq .Kind "taxonomy") (eq .Type "categories")}}
  <meta name="robots" content="noindex, follow"/>
  {{ else }}
  <meta name="robots" content="index, follow"/>
  {{ end }}

  {{ if or (eq .Kind "home") (eq .Kind "page")}}
  {{ if isset .Params "canonical" }}
  <link rel="canonical" href="{{ .Params.Canonical}}" />
  {{ else }}
  <link rel="canonical" href="{{ .Permalink}}" />
  {{ end }}
  {{ end }}

{{ partial "favicon" . }}
</head>
